app-home {
  .container {
    background: #eaeaea;
    text-align: center;
    max-width: 100%;

    .image-logo {
      padding-bottom: 50px;
      padding-top: 50px;
    }

    .welcome {
      text-align: center;
      color: #2FB5D5;
      padding-bottom: 50px;
    }
  }

}